.country__card {
  display: flex;
  flex-direction: column;
  width: 280px;
  margin: 0 auto;
  background-color: var(--backgroud-secondary);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  text-decoration: none;
  color: var(--text-color);
  transition: 300ms ease-in-out;
}

.country__card:hover {
  transform: scale(1.1);
}

.flag__country__card {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 5px 5px 0 0;
}

.details__country__card {
  padding: 16px;
}
.details__country__card h3 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 8px;
  transition: 300ms ease-in-out;
}
.country__card:hover .details__country__card h3 {
  color: var(--hover-color);
}
.details__country__card p {
  font-size: 14px;
  line-height: 1.5;
}

@media (width > 768px) {
  .country__card {
    margin: 0;
  }
}
